.contact-us {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

  background-color: #f9fafc;
  margin: 0;
  padding: 10% 12%;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.032em;
    line-height: 1.4;
  }

  h1 {
    font-size: 22px;

    font-weight: 400;
    color: rgb(100, 100, 100);
  }

  .personal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 400;
      color: rgb(100, 100, 100);
    }

    input {
      width: 100%;
      outline: none;
      border: 1px solid lightgray;
      padding: 4px 8px;
      height: 32px;
      margin-top: 4px;
      border-radius: 4px;
    }
    .firstname {
      width: 100%;
      // padding-right: 15px;
    }

    // .lastname {
    //   width: 100%;
    //   padding-left: 15px;
    // }
  }

  .email {
    h2 {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 400;
      color: rgb(100, 100, 100);
    }
    input {
      width: 100%;
      outline: none;
      border: 1px solid lightgray;
      padding: 4px 8px;
      height: 32px;
      margin-top: 4px;
      border-radius: 4px;
    }
  }

  .textarea {
    display: flex;
    flex-direction: column;
    p {
      margin-top: 20px;
      margin-bottom: 4px;
      font-size: 14px;

      font-weight: 400;
      color: rgb(100, 100, 100);
    }
    textarea {
      width: 100%;
      outline: none;
      border: 1px solid lightgray;
      padding: 4px 8px;
      height: 220px;
      margin-top: 4px;
      border-radius: 4px;
      color: rgb(83, 83, 83);
    }
    span {
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 12px;

      font-weight: 400;
      color: rgb(100, 100, 100);
    }
  }

  .checkbox {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    input {
      margin-right: 10px;
    }
    span {
      font-size: 12px;

      font-weight: 400;
      color: rgb(100, 100, 100);
    }
  }

  h3 {
    margin-top: 30px;
    font-size: 12px;

    font-weight: 400;
    color: rgb(100, 100, 100);
    a {
      text-decoration: none;
    }
  }
  /* From cssbuttons.io by @westitan */
  button {
    margin-top: 20px;
    position: relative;
    padding: 12px 26px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }

  button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }

  button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #00B0FF;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  button .liquid::after,
  button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
  }

  button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }

  button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }

  button:hover .liquid {
    top: -120px;
    background: rgba(20, 20, 20, 1);
 transition: 0.8s ease-in-out;
  }

  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
}


@media screen and (max-width: 786px) {

  .contact-us{

    padding: 30% 6%;
  

  button{
    padding: 10px 20px !important;
  }

  }


}